.container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #ffffff;
}

.sidebarToggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%; /* 丸いボタンにする */
  width: 40px; /* 幅と高さを同じに設定 */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebarToggle {
    display: none; /* 小さい画面ではトグルボタン非表示 */
  }
}
